numpy==1.26.4
pandas
scipy
scikit-learn
lightgbm
pyarrow==15.0.2
matplotlib
seaborn
plotly
tqdm==4.67.1
implicit==0.7.2
torch==2.2.1
transformers==4.46.3
sentence-transformers==5.2.3
datasets==3.1.0
statsmodels
vaderSentiment==3.3.2
